
<div class="container">

  <mat-spinner color="primary" [diameter]="50" *ngIf="!(isStreaming || isCameraError)" ></mat-spinner>

  <div class="capture-content" [ngClass]="{ 'hidden' : !isStreaming }" >

    <h4>Capture the image of the contact.</h4>

    <video #video (canplay)="onPlayerReady()" ></video>

    <canvas #canvas ></canvas>

    <button mat-fab color="primary" id="capture-button" (click)="capture()"
      [disabled]="(generalService.state$ | async ) == AppState.PROCESSING" >
      <mat-icon>photo_camera</mat-icon>
    </button>

  </div> 

  <app-error-content *ngIf="(generalService.state$ | async) == AppState.CAMERA_ERROR"
    title="Can't make camera work !"
    [description]="errorMessage" ></app-error-content>

</div>

<canvas #canvas ></canvas>

