

<div class="container">

  <div class="scroll-content">

    <div class="captured-image" *ngIf="capturedImage">

      <div class="image-container" >
  
        <img [src]="capturedImage" alt="Captured image">
  
      </div>
  
      <button id="retake" (click)="retake()" mat-raised-button color="primary">Retake</button>
    
    </div>

    <mat-progress-bar *ngIf="(generalService.state$ | async) == AppState.PROCESSING"
      mode="determinate" [value]="progress" ></mat-progress-bar>

    <app-contact-details *ngIf="(generalService.state$ | async) == AppState.RESULT && result" 
      [result]="result" [form]="form" ></app-contact-details>

  </div>


</div>




