

<div class="container">

  <app-init-content *ngIf="!capturedImage" ></app-init-content>

  <div class="scroll-content">

    <div class="captured-image" *ngIf="capturedImage">

      <div class="image-container" >
  
        <img [src]="capturedImage" alt="Captured image">
  
      </div>
  
      <button id="retake" (click)="retake()" mat-raised-button color="primary"
        [disabled]="(generalService.state$ | async ) == AppState.PROCESSING">Retake</button>
    
    </div>

    <mat-progress-bar *ngIf="(generalService.state$ | async) == AppState.PROCESSING"
      mode="determinate" [value]="progress" ></mat-progress-bar>

    <app-contact-details *ngIf="(generalService.state$ | async) == AppState.RESULT && result" 
      [result]="result" ></app-contact-details>

    <app-error-content *ngIf="(generalService.state$ | async) == AppState.OCR_ERROR"
      title="Something wrong with OCR library"
      [description]="errorMessage" ></app-error-content>

  </div>


</div>




