

<div class="container">

  <div class="init-content" *ngIf="!capturedImage" >

    <div class="title">

      <h1 class="text-primary mat-display-1">Easy contact</h1>

      <p>Quickly create contact from any surface.</p>

    </div>

    <h3 class="info-line-1 text-accent"><mat-icon svgIcon="index_left"></mat-icon> <span>Scan your contact there</span> </h3>
    
    <h3  class="info-line-2 text-accent" ><span>View your result here</span><mat-icon svgIcon="index_down"></mat-icon></h3>


  </div>

  <div class="scroll-content">

    <div class="captured-image" *ngIf="capturedImage">

      <div class="image-container" >
  
        <img [src]="capturedImage" alt="Captured image">
  
      </div>
  
      <button id="retake" (click)="retake()" mat-raised-button color="primary"
        [disabled]="(generalService.state$ | async ) == AppState.PROCESSING">Retake</button>
    
    </div>

    <mat-progress-bar *ngIf="(generalService.state$ | async) == AppState.PROCESSING"
      mode="determinate" [value]="progress" ></mat-progress-bar>

    <app-contact-details *ngIf="(generalService.state$ | async) == AppState.RESULT && result" 
      [result]="result" ></app-contact-details>

    <app-error-content *ngIf="(generalService.state$ | async) == AppState.OCR_ERROR"
      title="Something wrong with OCR library"
      [description]="errorMessage" ></app-error-content>

  </div>


</div>




