
@use '@angular/material' as mat;

:host {
  display: block;
  background-color: #FFF;
}

.container {
  width: 90%;
  height: calc(100% - 72px - 64px);
  padding: 24px;
  margin: 36px auto;

  @include mat.elevation(4);

}

.init-content {

  display: none;

  @media( min-width : 720px ) { 

    height: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    .title {

      margin-bottom: 64px;

      .mat-display-1 {
        margin-bottom: 24px;
      }

      p {
        color : #888;
      }

    }

    h3 { 

      * {
        vertical-align: middle;
      }

      &.info-line-1 mat-icon {
        margin-right:12px;
      }

      &.info-line-2 mat-icon {
        margin-left:12px;
      }

    }

  }

}

.scroll-content {
  padding: 0 24px;
  margin: 0 -12px ;
  height: 100%;
  overflow-y: auto;
}

.captured-image {
  display: flex;
  align-items: center;
  justify-content: center;

  .image-container {
    position: relative;
    padding: 8px;
    width: 50%;
    max-width: 300px;
    border: 2px solid #ccc;

    &::after,
    &::before {
      content: "";
      display: block;
      position : absolute;
      background-color: #FFF;
      z-index: 2;
    }

    &::after  {
      width: calc(100% + 4px);
      height: 80%;
      top: 10%;
      left: -2px;
    }

    &::before {
      height: calc(100% + 4px);
      width: 80%;
      left: 10%;
      top: -2px;
    }


  }

  img {
    width: 100%;
    vertical-align: middle;
    position: relative;
    z-index: 3;
  }

} 

#retake {
  margin-left: 24px;

  @media (min-width : 720px) {
    display: none;
  }

}

mat-progress-bar {
  display: block;
  width: 80%;
  margin: 48px auto;
}

app-error-content {
  margin: 48px 0;
}

