
:host {
  display: block;
}

.contact-fields {
  margin: 48px 0 24px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  mat-form-field {
    width: 100%;
    display: block;
  }

  .iterable-control {
    display: flex; 

    button {
      margin: 4px 12px 0;
    }

  }

  .empty-message {
    color: #ccc;
    margin: 12px 0;
  }

  .add-button {
    margin-top: 12px; 

    mat-icon {
      vertical-align: middle;
    }
  }

  @media( min-width : 1080px) {

    
    grid-template-columns: 1fr 1fr; 

    .control.name-control {
      grid-column: 1/ span 2;

      mat-form-field {
        width: 50%; 
      }

    }
  
    .fieldset.emails,
    .fieldset.phones {
      grid-row: 2;
    } 
  
  }

}

mat-chip-list {
  display: block;
  margin-bottom: 12px;
} 

.action-buttons {
  margin: 48px 0 36px;
  text-align: center;
}